.work_page {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
}
.work_h1 {
  color: #3f52b5;
}
.li {
  display: inline;
  margin: auto;
  padding: 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.MuiPaper-elevation2 {
  width: 90vw;
  margin: 0px auto;
}
