.work_page {
  padding: 0;
  margin: 0;
}
/* .makeStyles-tableWrapper-2 {
  max-height: 90vh;
} */

.MuiPaper-elevation2 {
  width: 90vw;
  margin: 0px auto;
}

/* Slider */
.suggestion-con {
  position: relative;
  height: 30%;
}

.slider_box {
  margin: 0 5px;
  position: relative;
  border-top: solid 2px rgba(255, 255, 255, 0.6);
  border-bottom: solid 2px rgba(255, 255, 255, 0.6);
}
.slider_box:before,
.slider_box:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: rgba(255, 255, 255, 0.6);
}
.slider_box:before {
  left: 0px;
}
.slider_box:after {
  right: 0px;
}
.slider_box p {
  margin: 10px;
  padding: 5px;
}

.btn-right-radius {
  /* margin: 25px; */
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #969696;
  background: #ececec;
  border-radius: 0 15px 15px 0;
  transition: 0.4s;
  margin: 0 auto 25px 35px;
}

.btn-right-radius:hover {
  color: white;
  background: #b4b4b4;
  border: 2px solid white;
  border-radius: 0 15px 15px 0;
}
.btn-left-radius {
  /* margin: 25px; */
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #969696;
  background: #ececec;
  border-radius: 15px 0 0 15px;
  transition: 0.4s;
  margin: 0 35px 25px auto;
}

.btn-left-radius:hover {
  color: white;
  background: #b4b4b4;
  border: 2px solid white;
  border-radius: 15px 0 0 15px;
}
