.react-calendar {
  margin: 0 auto;
  width: 75vw;
  height: 550px;
}

.cal_h1 {
  color: #3f52b5;
}
.header {
  text-align: center;
}

.li {
  display: inline;
  margin: auto;
  padding: 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
