.cal_page {
  margin: 0;
  padding: 0;
}

.react-calendar {
  margin: 0 auto;
  width: 75vw;
  height: 525px;
  background-color: #b4b4b4;
  border: 1px solid white;
}

.react-calendar button {
  color: white;
}
.react-calendar__month-view__days__day--weekend {
  color: red !important;
}
.calendar {
  margin: 50px auto;
}
.cal_h1 {
  color: #3f52b5;
}
.header {
  text-align: center;
}

.li {
  display: inline;
  margin: auto;
  padding: 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.calendar_content {
  margin: 20px auto 0 auto;
}
.today_content {
  margin: 20px auto;
}

.MuiPaper-root {
  background-color: #b4b4b4;
}

.MuiSvgIcon-root {
  color: white;
}

.MuiTableCell-head {
  color: white;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white;
}
