.rec_page {
  margin: 0;
  padding: 0;
}

#chart {
  margin: 20px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.recharts-cartesian-axis-tick-line {
  color: white;
}
.recharts-cartesian-axis-tick-value {
  color: white;
  stroke: white;
  fill: white;
}

.recharts-responsive-container {
  margin: 120px auto 10px auto;
}
