body {
  background-color: #b4b4b4;
  color: white;
  margin: 25px;
}

/* .btn-square {
  margin: 10px;
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  background: #668ad8; 
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {

  -webkit-transform: translateY(4px);
  transform: translateY(4px); 
  border-bottom: none; 
} */

/* .work_page,
.cal_page,
.rec_page {
  background-color: #ddd;
  height: 90vh;
  margin: 0;
} */
