body {
  background-color: black;
  color: white;
  margin: 25px;
}

.btn-square {
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  background: #668ad8; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}

.work_page,
.cal_page,
.rec_page {
  background-color: #ddd;
  height: 90vh;
}
